<!DOCTYPE html>
<html>
<head>
    <link href="/public/styles/pokenea.css" rel="stylesheet">
</head>
<body>
  <div>
    <img src="<%= image  %>" alt="Descripción de la imagen">
    <p><%= philosophical_phrase  %></p>
  </div>
</body>
</html>